@charset "UTF-8";

@import url("https://;

");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@400;500&family=Proza+Libre&family=Roboto&display=swap");
@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__burger {
  display: none;
}

.lock {
  overflow: hidden;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

body {
  overflow: auto;
  background-color: #fff3d0;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header-body {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__logo-item {
  width: 74px;
  height: 74px;
  border-radius: 16px;
  background-color: #ffd753;
  color: #ffffff;
  font-family: 'Alice', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 73px;
  text-align: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 0 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__menu nav a {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  margin: 0 0 0 110px;
}

.header-body__menu nav a::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f7ffcb;
  position: absolute;
  bottom: -4px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.header-body__menu nav a:hover {
  color: #f7ffcb;
}

.header-body__menu nav a:hover::before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.header-body__menu nav .dropdown {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 110px;
}

.header-body__menu nav .dropdown::before,
.header-body__menu nav .dropdown::after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  top: 10px;
  right: 120px;
  background-color: #ffffff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__menu nav .dropdown::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-body__menu nav .dropdown::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 110px;
}

.header-body__menu nav .dropdown a {
  margin: 0 0 0 0;
}

.header-body__menu nav .dropdown a::before {
  display: none;
}

.header-body__menu nav .dropdown-child {
  position: absolute;
  bottom: -158px;
  right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 268px;
  padding: 0 14px 16px 14px;
  background-color: #851c1c;
  border-radius: 0 0 16px 16px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.header-body__menu nav .dropdown-child a {
  text-align: left;
  margin: 14px 0 0 0;
}

.header-body__menu nav .dropdown-child a::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f7ffcb;
  position: absolute;
  bottom: -4px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.header-body__menu nav .dropdown-child a:hover {
  color: #f7ffcb;
}

.header-body__menu nav .dropdown-child a:hover::before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.header-body__menu nav .dropdown-child::before {
  content: '';
  position: absolute;
  top: -40px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  visibility: hidden;
}

.header-body__menu nav .dropdown:hover::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-body__menu nav .dropdown:hover::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-body__menu nav .dropdown:hover .dropdown-child {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.header-body__menu nav .dropdown:hover .dropdown-child::before {
  visibility: visible;
}

.header-body__menu.active nav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.header.sticky {
  position: fixed;
  width: 100%;
}

.header.sticky .header-body__logo-item {
  opacity: 0;
  visibility: hidden;
}

.header.sticky .header-body__logo-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
}

.header.sticky .header-body__logo-text span {
  margin: 0 10px 0 0;
}

.header.sticky .header-body {
  height: 60px;
}

.header.sticky .header-body .main__burger {
  top: 22px;
}

.header.sticky .dropdown-child {
  bottom: -138px;
}

.header.sticky .dropdown-child::before {
  height: 20px;
  top: -20px;
}

.footer {
  background-color: black;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.footer-body__copyright {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
}

.slider-main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slider-main .slick-arrow {
  position: absolute;
  margin: 100px 0 0 0;
  z-index: 1;
  font-size: 0;
  top: 0;
  height: calc(100vh - 100px);
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.slider-main .slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slider-main .slick-arrow.slick-prev {
  left: 0;
}

.slider-main .slick-arrow.slick-next {
  right: 0;
}

.slider-main .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-main .slick-dots li {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
}

.slider-main .slick-dots li button {
  font-size: 0;
}

.slider-main .slick-dots li.slick-active {
  position: relative;
}

.slider-main .slick-dots li.slick-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}

.slider-main__item {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-main__item-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-main__item-bg.bg01 {
  background-image: url(../img/slider/01.png);
}

.slider-main__item-bg.bg02 {
  background-image: url(../img/slider/02.png);
}

.slider-main__item-bg.bg03 {
  background-image: url(../img/slider/03.png);
}

.slider-main__info {
  position: absolute;
  padding: 0 12px 60px 50px;
  left: 0px;
  display: block;
  width: 500px;
  height: 300px;
  border-radius: 0 16px 16px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: Montserrat;
}

.slider-main__info-title {
  font-size: 36px;
  margin: 14px 0 26px 0;
}

.slider-main__info-descr {
  font-size: 18px;
  line-height: 28px;
  color: #e9e9e9;
}

.slider-main__info-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.slider-main__info-btn a {
  display: inline-block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff3a;
  border-radius: 7px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.slider-main__info-btn a::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff60;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0;
  -webkit-transform: translate(-100%, -100%) rotate(-30deg) scale(2.5);
      -ms-transform: translate(-100%, -100%) rotate(-30deg) scale(2.5);
          transform: translate(-100%, -100%) rotate(-30deg) scale(2.5);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.slider-main__info-btn a:hover::before {
  -webkit-transform: translate(0) rotate(-30deg) scale(2.5);
      -ms-transform: translate(0) rotate(-30deg) scale(2.5);
          transform: translate(0) rotate(-30deg) scale(2.5);
}

.places {
  margin: 100px 0 20px;
}

.places-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 23px;
  background-color: #fffaeb;
  -webkit-box-shadow: 2px 6px 10px rgba(170, 170, 170, 0.4);
          box-shadow: 2px 6px 10px rgba(170, 170, 170, 0.4);
  position: relative;
  margin: 0 0 80px 0;
}

.places-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.places-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.places-item__text {
  padding: 20px 20px 20px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.places-item__text-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.places-item__text-item {
  margin: 20px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #4b4b4b;
}

.places-item__text-btn {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.places-item__text-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  font-family: roboto;
}

.places-item.rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.places-item.rev .places-item__text-btn {
  left: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.places-item:hover .places-item__text-btn {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.single {
  margin: 150px 0 0 0;
}

.single-body__title {
  color: #000000;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.single-body__image {
  width: 100%;
  height: 668px;
  border-radius: 48px;
  margin: 0 0 100px 0;
  overflow: hidden;
}

.single-body__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.single-body__paragraph {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.single-body__gallery {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-body__gallery-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.single-body__gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.single-body__price {
  margin: 80px 0 100px 0;
}

.single-body__price-title {
  color: #000000;
  font-family: Montserrat;
  font-size: 28px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.single-body__price-item {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.single__map {
  margin: 80px 0 0 0;
}

.route {
  margin: 150px 0 0 0;
}

.route-body {
  position: relative;
}

.route-body__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
  margin: -50px 0 50px 0;
}

.route-body__arrow img {
  width: 100px;
  height: 100px;
}

.interesting {
  margin: 150px 0 0 0;
}

.monument {
  margin: 150px 0 0 0;
}

.monument-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.monument-body .places-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

@media (max-width: 1023px) {
  .main__burger {
    display: block;
    position: fixed;
    right: 30px;
    top: 45px;
    z-index: 51;
    width: 30px;
    height: 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .main__burger::before,
  .main__burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .main__burger::before {
    top: 0;
  }

  .main__burger::after {
    bottom: 0;
  }

  .main__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: white;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .main__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .main__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .main__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-body__menu nav a {
    margin: 0 0 0 0;
    font-size: 30px;
  }

  .header-body__menu nav .dropdown a {
    display: none;
  }

  .header-body__menu nav .dropdown-child a {
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 30px;
  }

  .header-body__menu nav .dropdown-child {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
  }

  .header-body__menu nav .dropdown {
    margin: 0 0 0 0;
  }

  .header-body__menu nav .dropdown:before,
  .header-body__menu nav .dropdown::after {
    display: none;
  }

  .header-body__menu nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(-120%, 0);
        -ms-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .places-item__text-btn {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
  }

  .places-item__text-btn a {
    width: auto;
    height: auto;
    font-size: 20px;
    display: block;
    bottom: 10px;
    right: 20px;
    color: #000;
    padding: 10px;
    background-color: #3636363a;
    border-radius: 7px;
    overflow: hidden;
  }

  .places-item.rev .places-item__text-btn {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
  }

  .places-item.rev .places-item__text-btn a {
    width: 123.28px;
    height: auto;
    font-size: 20px;
    display: inline-block;
    bottom: 10px;
    left: 20px;
    color: #000;
    padding: 10px;
    background-color: #3636363a;
    border-radius: 7px;
    overflow: hidden;
  }

  .monument-body .places-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}

@media (max-width: 800px) {
  .places-item__text-title {
    font-size: 24px;
  }

  .places-item__text-item {
    font-size: 16px;
    line-height: 20px;
  }

  .places-item.rev .places-item__text-btn {
    left: auto;
  }

  .places-item.rev .places-item__text-btn a {
    left: auto;
    width: auto;
    right: 20px;
  }

  .places-item.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }

  .places-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}

@media (max-width: 767px) {
  .main__burger {
    top: 35px;
  }

  .header-body__logo-item {
    width: 56px;
    height: 56px;
    font-size: 30px;
    line-height: 56px;
  }

  .header-body {
    height: 80px;
  }

  .single-body__image {
    height: 300px;
  }

  .single-body__gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 200px;
    margin: 0 0 20px 0;
  }

  .single-body__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .monument-body .places-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .slider-main__info-btn a {
    font-size: 14px;
    padding: 8px;
  }

  .slider-main__info-btn {
    bottom: 10px;
    right: 10px;
  }

  .slider-main__info {
    padding: 0 8px 40px 14px;
    width: 300px;
    height: 360px;
  }
}

.webp .slider-main__item-bg.bg01{ background-image: url(../img/slider/01.webp); }

.webp .slider-main__item-bg.bg02{ background-image: url(../img/slider/02.webp); }

.webp .slider-main__item-bg.bg03{ background-image: url(../img/slider/03.webp); }